body{
background-color: white;
}
/* /Modifies webstie title section */
header{
    background-color:  rgb(82, 194, 246);
    height: 50px;
    text-align: center;
    font-size: 32px;
    color: white;
    padding-top: 10px;
    font-family: calibri;
    font-weight: bolder;
    margin-right: 20px;
    margin-left: 35px;
    border-radius: 50px;
    width:auto;
}

/* Modifies search city section */
.searchSection{
    position:absolute;
    background-color: rgb(236, 249, 255);
    height: 90%;
    display:block;
    margin-left: 35px;
    width:300px;
    font-family: calibri;
    border-radius: 50px;

}
/* Modifies searchtitle, input, and button position */
#city-search{
    margin-left: 10px;
    display: block;
}
/* Modifies city input field */
#city-input{
    border-radius: 20px;
    height:30px;
    width:auto;
}
/* Modifies search button */
#find-city{
    border-radius: 30px;
    margin-left: 10px;
    height: 50px;
    background-color: rgb(82, 194, 246);
    color: white;
}
/* Modifies search for city title */
#search-title{
    display: block;
    font-size: 22px;
    margin-left: 10px;
}
/* Modifies the recent cities searched buttons */
.savedCity{
    margin-top: 15px;
    background-color: rgb(95, 200, 248);
    display: block;
    width: 250px;
    color:white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: solid;
    border-radius: 20px;
    border-width: 1px;
    padding:10px;
    margin-left: auto;
    margin-right: auto;

}
/* Modifies current weather display section */
.currentConditions{
    position: absolute;
    background-color: rgb(236, 249, 255);
    margin-left: 370px;
    height:300px;
    width:max-content;
    font-family: calibri;
    color:rgb(112, 111, 111);
    margin-right: 35px;
    border-radius: 50px;

}
/* Modifies section for five day forecast */
.fiveDayForecast{
    width: auto;
    margin-top:35px;
    display:inline-flex;
    background-color: rgb(236, 249, 255);
    padding-top: 60px;
    border-radius: 50px;
}
/* Modifies subsections for each of the five days */
.days{
    display: inline-flex;
    border: solid;
    height:300px;
    width:200px;
    background-color: rgb(95, 200, 248);   
    margin:10px;
    border-radius: 40px;
    display: block;
    border-color:white;
    color:white;
        
}
/* Modifies current weather icon */
.weatherIcon{
    display: inline-block;
}